<!DOCTYPE html>
<html>
<head>
    <title>sixthblock</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<h1>SIXTH BLOCK </h1>
<p>Welcome to sixthblock </p>

</body>
</html>
